
.profile{
  background-color: white;
}

.profile img{
  display:block;
  width:200px;
}

.header img{
  width:100%;
}

.personalData{
  padding:20px 0;
  display: flex;
  
}

.personalData h2{
  margin-top: 0;
  
}

.text {
  margin-left:20px; 
}



