.header{
  grid-area: h;
background: rgb(22, 148, 148);

}

.header img{
  width:40px;
  margin:10px 20px;
  
  
}

.loginBlock {
  float: right;
  color: white;
  margin:20px;
}

.loginBlock  a{
  color: white;
}